.line{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#game-container{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.disc {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: yourAnimation 1s ease-in 0s normal none;
}

.disc[data-color="red"] {
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
}

.disc[data-color="black"] {
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
}

@keyframes yourAnimation {
    0.0%{
        transform: translate(0, -300px);
        height: 100%;
    }
    50%{
        height: 98%;
        transform: translate(0);
    }
    56%{
        height: 80%;
        transform: translate(0, 10px);
    }
    65%{
        transform: translate(0, 25px);
        height: 50%;
    }
    85%{
        transform: translate(0);
        height: 100%;
    }
    100%{
        height: 100%;
        transform: translate(0);
    }
}

.victoryScreen {
    position: relative;
    animation: victoryScreenCall .5s ease-in-out 0s forwards;
}

.victoryScreen::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 95vw;
    height: 95vw;
    max-width: 400px;
    max-height: 350px;
    z-index: -1;
    box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.9px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: victoryScreenBlur 1s linear 0.5s forwards;
    opacity: 0;
}

@keyframes victoryScreenCall {
    0.0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes victoryScreenBlur {
    to {
        display: block;
        opacity: 1;
        z-index: 1;
    }
}