body, main, div, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #ABE9CD;
    background-image: linear-gradient(315deg, #ABE9CD 0%, #3EADCF 74%);
}

.victoryScreen.hidden {
    display: none;
}

.line{
    border-radius: 88.75px;
    width: 32px;
    height: 32px;
    margin: 8px 1.7px 8px 1.7px;
    box-shadow: inset 0 0 0.4em rgb(53 53 53);
    background-color: white;
    border: 1px solid black;
}

main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #9F8AC0;
    align-items: center;
    width: calc(40px * 7 + 7px);
    height: calc(44px * 6 + 7px);
    border: solid rgb(82 80 80) 2px;
}

h1{
    text-align: center;
}

.disc{
    border-radius: 88.75px;
    width: 32px;
    height: 32px;
}

.disc {
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: yourAnimation 1s ease-in 0s normal none;
}

.disc[data-color="red"] {
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
}

.disc[data-color="black"] {
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
}

#footerDiscRed{
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footerDiscBlack{
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrowRight{

}

@keyframes yourAnimation {
    0.0%{
        transform: translate(0, -300px);
        height: 100%;
    }
    50%{
        height: 98%;
        transform: translate(0);
    }
    56%{
        height: 80%;
        transform: translate(0, 10px);
    }
    65%{
        transform: translate(0, 25px);
        height: 50%;
    }
    85%{
        transform: translate(0);
        height: 100%;
    }
    100%{
        height: 100%;
        transform: translate(0);
    }
}


.victoryScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation: victoryScreenCall .5s ease-in-out 0s forwards;
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(48%);
    width: calc(40px * 7 + 7px);
    height: calc(40px * 6 + 7px);
    max-width: 400px;
    z-index: -1;
    box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.9px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: victoryScreenBlur 1s linear 0.5s forwards;
    opacity: 0;
}

.playersDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#counterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.scores{
    font-size: 30px;
}

.player1{
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.player2{
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#playAgain{
width: 151px;
height: 49px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, rgba(3, 3, 3, 0.75) 100%);
border-radius: 16px;
text-align: center;
color: #FFECEC;
}

@keyframes victoryScreenCall {
    0.0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes victoryScreenBlur {
    to {
        display: block;
        opacity: 1;
        z-index: 1;
    }
}


@media (min-width: 425px){
    #game-container{
        width: calc(49px * 7 + 7px);
        height: calc(53px * 6 + 7px);
    }
    .line{
        width: 40px;
        height: 40px;
    }
    .disc{
        width: 40px;
        height: 40px;
    }

    .victoryScreen{
        width: calc(49px * 7 + 7px);
        height: calc(49px * 6 + 7px);
    }
}

@media (min-width: 600px){
    #game-container{
        width: calc(54px * 7 + 7px);
        height: calc(58px * 6 + 7px);
    }
    .line{
        width: 44px;
        height: 44px;
    }
    .disc{
        width: 44px;
        height: 44px;
    }
}

@media (min-width: 768px){
    #game-container{
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
        }
    .line{
        width: 50px;
        height: 50px; 
    }
    .disc{
        width: 50px;
        height: 50px; 
    }
    .column:hover{
        background-color: #8A79A5;
        border-radius: 10px;
        cursor: pointer;
    }

    .victoryScreen {
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
        max-height: 100%;
        max-width: 100%;
    }
}