@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, main, div, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #ABE9CD;
    background-image: linear-gradient(315deg, #ABE9CD 0%, #3EADCF 74%);
    font-family: 'Baloo Tammudu 2', cursive;
}

main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    border-radius: 88.75px;
    width: 32px;
    height: 32px;
    margin: 8px 1.7px 8px 1.7px;
    box-shadow: inset 0 0 0.4em rgb(53 53 53);
    background-color: white;
    border: 1px solid black;
}

#game-container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #9F8AC0;
    align-items: center;
    width: calc(40px * 7 + 7px);
    height: calc(44px * 6 + 7px);
    border: solid rgb(82 80 80) 2px;
    position: relative;
}


#game-container::before{
    content: '';
    background-color: #C7B1EC;
    height: 207.68px;
    width: 8px;
    position: absolute;
    border-radius: 2.66px;
    left: 0;
}

#game-container::after{
    content: '';
    background-color: #C7B1EC;
    height: 207.68px;
    width: 8px;
    position: absolute;
    border-radius: 2.66px;
    right: 0;
}

h1{
    text-align: center;
    font-family:'Staatliches', cursive;
}

.disc{
    border-radius: 88.75px;
    width: 32px;
    height: 32px;
}

.filledColumnError {
    animation: errorAnimation .3s linear;
}

.disc {
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: yourAnimation 1s ease-in 0s normal none;
}

.disc[data-color="red"] {
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
}

.disc[data-color="black"] {
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
}

.victoryScreen.hidden {
    display: none;
}

.victoryScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    animation: victoryScreenCall .5s ease-in-out 0s forwards;
    bottom: 50%;
    transform: translateY(48%);
    width: calc(40px * 7 + 7px);
    height: calc(44px * 6 + 7px);
    backdrop-filter: blur( 2.9px );
    box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: victoryScreenBlue 1s linear 0.5s forwards;
}

.playersDiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player1, .player2 {
    border-radius: 88.75px;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.player1 {
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
}

.player2 {
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
}

#playAgain {
    width: 151px;
    height: 49px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, rgba(3, 3, 3, 0.75) 100%);
    border-radius: 16px;
    text-align: center;
    color: #FFECEC;
    cursor: pointer;
}

.mainCounterDiv {
    height: 50px;
    display: flex;
    background-size: 40px;
    background-image: url('/trophy.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.vicCounterInitial {
    justify-content: space-between;
    width: 250px;
    left: calc(50% - 125px);
    top: 100px;
}

.vicCounterVicScreen {
    justify-content: space-around;
    width: 100%;
    top: 50px;
    left: unset;
    background-color: rgba(216, 192, 216, 0.3);
}

    .victoryCounter {
        font-size: 45px;
        font-weight: bold;
        line-height: 1.5em;
        width: 50px;
        height: 50px;
        text-align: center;
        text-shadow: 0 5px 5px rgb(83, 79, 79);
    }

    #redCounter {
        color: #c93636;
    }

.toVictoryScreen {
    animation: toVictoryScreen 1s ease forwards;
    animation-delay: 0.5s;
    transition: top 1s;
}

.returnVictoryCounter {
    animation: returnVictoryCounter 1s ease forwards;
    top: 250px;
    opacity: 0.5;
    transition: top 1s;
    transform: scale(1.2);
    z-index: 2;
}

@keyframes toVictoryScreen {
    to {
        z-index: 2;
        top: 220px;
        opacity: 0;
        transform: scale(1.2);
    }    
}

@keyframes returnVictoryCounter {
    to {
        z-index: 0;
        top: 100px;
        opacity: 1;
        transform: scale(1);
    }    
}

@media (min-width: 425px){
    #game-container{
        width: calc(49px * 7 + 7px);
        height: calc(53px * 6 + 7px);
    }
    .line{
        width: 40px;
        height: 40px;
    }
    .disc{
        width: 40px;
        height: 40px;
    }
    #game-container::before{
        height: 249.68px;
        width: 9px;
    }
    
    #game-container::after{
        height: 249.68px;
        width: 9px;
    }

    .victoryScreen {
        width: calc(49px * 7 + 7px);
        height: calc(49px * 6 + 7px);
    }
}

@media (min-width: 600px){
    #game-container{
        width: calc(54px * 7 + 7px);
        height: calc(58px * 6 + 7px);
    }
    .line{
        width: 44px;
        height: 44px;
    }
    .disc{
        width: 44px;
        height: 44px;
    }
    #game-container::before{
        height: 272.68px;
        width: 10px;
    }
    
    #game-container::after{
        height: 272.68px;
        width: 10px;
    }

    .victoryScreen {
        width: calc(54px * 7 + 7px);
        height: calc(54px * 6 + 7px);
    }
}

@media (min-width: 768px){
    #game-container{
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
        }
    .line{
        width: 50px;
        height: 50px; 
    }
    .disc{
        width: 50px;
        height: 50px; 
    }
    .column:hover{
        background-color: #8A79A5;
        border-radius: 10px;
        cursor: pointer;
    }
    #game-container::before{
        height: 301.68px;
        width: 11px;
    }
    
    #game-container::after{
        height: 301.68px;
        width: 11px;
    }

    .victoryScreen {
        max-width: 100%;
        max-height: 100%;
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
    }
}

#footerDiscRed{
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footerDiscBlack{
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrowRight{
    background-image: url("blackTurn.svg");
    width: 73px;
    height: 41px;
}

.arrowLeft{
    background-image: url("redTurn.svg");
    width: 73px;
    height: 41px;
}

#footer{
    display: flex;
    justify-content: space-evenly;
    width: calc(40px * 7 + 7px);
}

.drawDiv{
    position: relative;
    top: -30%;
    /* transform: translateX(-6%); */
}

.victoryScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    animation: victoryScreenCall .1s ease-in-out 0s forwards;
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(48%);
    width: calc(40px * 7 + 7px);
    height: calc(40px * 6 + 7px);
    max-width: 400px;
    z-index: -1;
    box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.9px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: victoryScreenBlur 1s linear 0.5s forwards;
    opacity: 0;
};

.playersDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#counterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.scores{
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    background-color: cyan;
}

.player1{
    background: radial-gradient(
    #bd3e3e 0%, 
    rgb(177, 23, 23) 100%);
    border: ridge 5px #e44040;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.player2{
    background: radial-gradient(
    #202020 0%, 
    rgb(24, 22, 22) 100%);
    border: ridge 5px #4c4747;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#playAgain{
    width: 151px;
    height: 49px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, rgba(3, 3, 3, 0.75) 100%);
    border-radius: 16px;
    text-align: center;
    color: #FFECEC;
    cursor: pointer;
}

@keyframes yourAnimation {
    0.0%{
        transform: translate(0, -300px);
        height: 100%;
    }
    50%{
        height: 98%;
        transform: translate(0);
    }
    56%{
        height: 80%;
        transform: translate(0, 10px);
    }
    65%{
        transform: translate(0, 25px);
        height: 50%;
    }
    85%{
        transform: translate(0);
        height: 100%;
    }
    100%{
        height: 100%;
        transform: translate(0);
    }
}

@keyframes victoryScreenCall {
    0.0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes errorAnimation {
    0% {transform: translate(0);}
    10% {transform: translate(-5px);}
    20% {transform: translate(5px);}
    30% {transform: translate(-5px);}
    40% {transform: translate(5px);}
    50% {transform: translate(-5px);}
    60% {transform: translate(5px);}
    70% {transform: translate(-5px);}
    80% {transform: translate(5px);}
    90% {transform: translate(-5px);}
    100% {transform: translate(0);}   
}

@keyframes victoryScreenBlur {
    to {
        display: block;
        opacity: 1;
        z-index: 1;
    }
}


@media (min-width: 425px){
    #game-container{
        width: calc(49px * 7 + 7px);
        height: calc(53px * 6 + 7px);
    }
    .line{
        width: 40px;
        height: 40px;
    }
    .disc{
        width: 40px;
        height: 40px;
    }

    .victoryScreen{
        width: calc(49px * 7 + 7px);
        height: calc(49px * 6 + 7px);
    }

    #footer{
        display: flex;
        justify-content: space-evenly;
        width: calc(49px * 7 + 7px);
    }

    .drawDiv{
        /* transform: translateX(-15%); */
    }
}

@media (min-width: 600px){
    #game-container{
        width: calc(54px * 7 + 7px);
        height: calc(58px * 6 + 7px);
    }
    .line{
        width: 44px;
        height: 44px;
    }
    .disc{
        width: 44px;
        height: 44px;
    }

    #footer{
        display: flex;
        justify-content: space-evenly;
        width: calc(54px * 7 + 7px);
    }

    .drawDiv{
        top: -35%;
        /* transform: translateX(-19%); */
    }

    .victoryScreen{
        width: calc(54px * 7 + 7px);
        height: calc(54px * 6 + 7px);
    }
}

@media (min-width: 768px){
    #game-container{
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
        }
    .line{
        width: 50px;
        height: 50px; 
    }
    .disc{
        width: 50px;
        height: 50px; 
    }
    .column:hover{
        background-color: #8A79A5;
        border-radius: 10px;
        cursor: pointer;
    }

    .victoryScreen {
        width: calc(60px * 7 + 7px);
        height: calc(64px * 6 + 7px);
        max-height: 100%;
        max-width: 100%;
    }

    #footer{
        display: flex;
        justify-content: space-evenly;
        width: calc(60px * 7 + 7px);
    }

    .drawDiv{
        top: 80%;
        /* transform: translateX(-4%); */
    }
}
